## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [32]:
import pandas as pd
import numpy as np

# tentei fazer meu melhor mas não consegui resolver os problemas 1 e 2 em menos linhas, alguem sabe como fazer?

np.random.seed(42) #resposta para a questão fundamental da vida o universo e tudo mais

df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])
df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])
df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])
df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [33]:
# 1) Seu código aqui

nota_mat = (np.mean(df_mat)/24) * 100
nota_por = (np.mean(df_por)/18) * 100
nota_geo = (np.mean(df_geo)/8) * 100
nota_ing = (np.mean(df_ing)/8) * 100
nota_his = (np.mean(df_his)/8) * 100
nota_fis = (np.mean(df_fis)/12) * 100
nota_qui = (np.mean(df_qui)/12) * 100

percentuais_acerto = dict(
    Matemática = nota_mat,
    Português = nota_por,
    Geografia = nota_geo,
    Inglês = nota_ing,
    História = nota_his,
    Física = nota_fis,
    Química = nota_qui,
)

percentuais_acerto

{'Matemática': np.float64(49.375),
 'Português': np.float64(40.166666666666664),
 'Geografia': np.float64(42.0),
 'Inglês': np.float64(47.625),
 'História': np.float64(45.0),
 'Física': np.float64(44.333333333333336),
 'Química': np.float64(45.24999999999999)}

In [34]:
# 2) Seu código aqui

totais = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui

totais

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [35]:
# 3) Seu código aqui

percentual_individual = (totais / 90) * 100

percentual_individual

    Qt_acertos
0    38.888889
1    53.333333
2    55.555556
3    35.555556
4    33.333333
..         ...
95   37.777778
96   30.000000
97   44.444444
98   44.444444
99   46.666667

[100 rows x 1 columns]

In [36]:
# 4) Seu código aqui

# aqui levei em consideração a nota sendo o NUMERO DE ACERTOS e não os percentuais, mas em ambos os casos a resolução seria semelhante, o que muda é a interpretação

aprovados = totais.loc[totais['Qt_acertos'] > 45]

aprovados.sort_values(by = 'Qt_acertos', ascending = False)

    Qt_acertos
78          66
89          63
70          62
8           58
93          56
36          56
81          55
48          55
31          54
71          53
77          53
20          53
37          52
17          52
2           50
72          50
88          50
24          50
27          50
18          50
5           50
7           49
39          49
35          48
1           48
42          48
45          48
60          48
40          47
67          46
62          46

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [37]:
# 1) seu código aqui

desqualificados_notas = (
                df_mat.loc[df_mat['Qt_acertos'] == 0]
                + df_fis.loc[df_fis['Qt_acertos'] == 0]
                + df_qui.loc[df_qui['Qt_acertos'] == 0]
                )

desqualificados = desqualificados_notas.index # extrai o 'ID' dos alunos desqualificados
desqualificados

Index([ 3,  6, 10, 12, 14, 20, 25, 26, 27, 33, 35, 49, 56, 65, 66, 72, 73, 74,
       84, 89, 92, 94, 98],
      dtype='int64')

In [38]:
# 2) seu código aqui

len(desqualificados)

23

In [39]:
# 3) seu código aqui

desqualificados_his = df_his.loc[desqualificados]
desqualificados_geo = df_geo.loc[desqualificados]


desqualificados_his_geo = pd.concat([desqualificados_his, desqualificados_geo], axis = 1)
desqualificados_his_geo.columns = ['História', 'Geografia']

desqualificados_his_geo

    História  Geografia
3          0          3
6          5          7
10         1          3
12         1          3
14         1          1
20         6          6
25         0          7
26         7          6
27         7          1
33         6          0
35         3          6
49         1          1
56         6          7
65         3          2
66         3          3
72         7          3
73         3          2
74         5          0
84         1          0
89         6          7
92         1          1
94         1          2
98         5          3

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [40]:
import requests

arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-9c0dbbb1-0917-4f1f-b685-ea505a7e515f.c000.csv'

In [41]:
# o arquivo deve ter seu endereço atualizado diariamente pra que esse notebook funcione.
# isso poderia ser evitado obtendo o arquivo .csv, porém ele contém mais de 100MB,
# o que impede seu commit no github gratuitamente

df = pd.read_csv(arquivo, sep = ';')

In [42]:
df.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [43]:
# 1)

num_vacinas_AC = df.shape[0]

print(f'Número de vacinas registradas na base é: {num_vacinas_AC}')

Número de vacinas registradas na base é: 387278

In [44]:
# 2)

# contagem = df['paciente_id'].value_counts() # para contar e ver na prática as duplicatas (pacientes que tomaram mais de 1 dose)

n_unicos = df['paciente_id'].nunique()

print(f'O número de pessoas que receberam a vacina é: {n_unicos}')

O número de pessoas que receberam a vacina é: 316598

In [45]:
# 3)
descricao_dose = df['vacina_descricao_dose'].value_counts()

dose_1 = int(
    descricao_dose.iloc[0])

print(f'O número de 1ªs doses foi de {dose_1}, considerando somente vacinas com mais de 1 dose.')

O número de 1ªs doses foi de 143577, considerando somente vacinas com mais de 1 dose.

In [63]:
# 4)

lista_menores_de_idade = df[df['paciente_idade'] < 18]
cont_menores_de_idade = lista_menores_de_idade['paciente_idade'].value_counts()

soma_menores_de_idade = cont_menores_de_idade.sum()

print(f'O número menores de 18 anos foi de {soma_menores_de_idade}.')

O número menores de 18 anos foi de 77399.

In [68]:
# 5)

estabelecimentos = df['estabelecimento_razaoSocial']
estabelecimentos_unicos = estabelecimentos.nunique()

print(f'O número de estabelecimentos que aplicaram a vacina no Acre foi: {estabelecimentos_unicos}.')

O número de estabelecimentos que aplicaram a vacina foi: 62.

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)