# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [2]:
data = pd.read_csv('data/M7_E1/demo01.csv')

demo = pd.DataFrame(data)

print(demo.shape)

(16650, 16)

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [3]:
df_variaveis = pd.DataFrame({
    'coluna': demo.columns,
    'tipo': demo.dtypes.values
})

qtd_categorias = []

for col in demo.columns:
    num_categorias = demo[col].nunique()
    qtd_categorias.append(num_categorias)

df_variaveis['qtd categorias'] = qtd_categorias

df_variaveis

                   coluna     tipo  qtd categorias
0                    sexo   object               2
1        posse_de_veiculo   object               2
2         posse_de_imovel   object               2
3              qtd_filhos    int64               8
4              tipo_renda   object               5
5                educacao   object               5
6            estado_civil   object               5
7         tipo_residencia   object               6
8                   idade  float64            5298
9           tempo_emprego  float64            3005
10         possui_celular    int64               1
11  possui_fone_comercial    int64               2
12            possui_fone    int64               2
13           possui_email    int64               2
14  qt_pessoas_residencia  float64               9
15                    mau     bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [4]:
df_variaveis_drop = demo.drop(columns=['qtd_filhos', 'idade', 'tempo_emprego', 'possui_celular', 'possui_fone_comercial', 'possui_fone', 'possui_email','qt_pessoas_residencia'], inplace=False)

df_variaveis_dummy = pd.get_dummies(df_variaveis_drop, columns=df_variaveis_drop.columns)

df_variaveis_dummy

,sexo_F,sexo_M,posse_de_veiculo_N,posse_de_veiculo_Y,posse_de_imovel_N,posse_de_imovel_Y,tipo_renda_Commercial associate,tipo_renda_Pensioner,tipo_renda_State servant,tipo_renda_Student,...,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_Co-op apartment,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents,mau_False,mau_True
0,False,True,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
1,True,False,True,False,False,True,True,False,False,False,...,True,False,False,True,False,False,False,False,True,False
2,True,False,True,False,False,True,True,False,False,False,...,True,False,False,True,False,False,False,False,True,False
3,False,True,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
4,True,False,False,True,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,True,False,True,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
16646,True,False,True,False,False,True,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True
16647,False,True,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
16648,False,True,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
16649,True,False,True,False,False,True,False,True,False,False,...,False,False,False,True,False,False,False,False,False,True

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [5]:
email_mau_crosstab = pd.crosstab(demo['possui_email'], demo['mau'])
veiculo_mau_crosstab = pd.crosstab(demo['posse_de_veiculo'], demo['mau'])

display(email_mau_crosstab)
display(veiculo_mau_crosstab)

email_mau_crosstab_percentual = email_mau_crosstab.div(email_mau_crosstab.sum(axis=1), axis=0) * 100
veiculo_mau_crosstab_percentual = veiculo_mau_crosstab.div(veiculo_mau_crosstab.sum(axis=1), axis=0) * 100

display(email_mau_crosstab_percentual.round(2))
display(veiculo_mau_crosstab_percentual.round(2))

mau           False  True
possui_email
0             14810    360
1              1450     30

mau               False  True
posse_de_veiculo
N                  9931    247
Y                  6329    143

mau           False  True
possui_email
0             97.63   2.37
1             97.97   2.03

mau               False  True
posse_de_veiculo
N                 97.57   2.43
Y                 97.79   2.21

De acordo com as tabelas cruzadas demonstradas anteriormente, tanto de forma quantitativa quanto proporcional, é possível identificar que existe ume diferença muito baixa entre as relações de posse de e-mail e veículo pra que seja plausível inferir uma correlação, assim posteriormente escolhendo uma das variáveis como mais importantes para prever a probabilidade de 'mau = 1'

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [9]:
df_variaveis_dummy.to_csv('df_variaveis_dummy,csv', sep=',')
# não consegui especificar o local para o arquivo .csv pois uma das pastas possui uma string muito longa como nome, o que causa algum conflito
# por conta de alguma questão de codificação que desconheço.